*credentials
*.ipynb_checkpoints/
*.DS_Store
.idea/
.python-version
*.csv
app/
build/
easy_sm.egg-info/
misc/
*.whl
*.tar.gz
app.json
*__pycache__/

# Documentation build
site/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Distribution
dist/